# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SQLAlchemy
*.db
*.sqlite3